body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
}

nav {
  background-color: #393E46;
  color: #eee;
  padding: 10px;
}

nav a {
  color: #eee;
  text-decoration: none;
}

.welcome-text {
  font-size: 35px;
}

.title {
  padding: 40px 17px;
}

.task-column {
  background-color: #e6e6e6;
  border-radiu: 3px;
  min-height: 200px;
}

.task-column-title {
  border-bottom: 1px solid rgba(57, 62, 70, 1);
  font-size: 30px;
}

.fa-check-square:hover {
  color: rgb(224, 57, 45);
}

.highlight {
  background-color: red;
border: 1px solid black;
}

.highlight-1 {
  background-color: grey;
border: 1px solid black;
}

.highlight-2 {
  background-color: blue;
  border: 1px solid black;
}
